/* 共有样式 */
.game {
  width: 100%;
  height: 100%;
  background: #ccc;
}

/* 开场 - index.html */
.game-start {
  /* display: none; */
  width: 1000px;;
  height: 620px;
  box-sizing: border-box;
  margin: 20px auto;
  background: url("../img/background.png") no-repeat top center;
  position: relative;
}
.start-game {
  display: inline-block;
  width: 175px;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  top: 425px;
  left: 385px;
  background: red;
  opacity: .3;
}
.audio {
  display: none;
}

/* 第一幕 - ActOne.html */
.act-one {
  display: none;
}